.main-presentation {
  background: url("https://res.cloudinary.com/olivierpaspuel/image/upload/c_scale,o_46,w_5278/v1660936197/pexels-cottonbro-5080824_xnwv9z.jpg") no-repeat center;
  background-size: cover;
  background-position: center 70%;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.main-presentation-content {
  width: 30em;
  color: #00171f;
}
.main-presentation-content h2 {
  color: #00171f;
  font-size: 350%;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 0 0.25rem;
}
.main-presentation-content p {
  font-size: 125%;
  font-weight: 200;
}

.main-image {
  height: 100%;
}

.available-pets h2 {
  font-size: 4em;
  text-align: center;
  background: linear-gradient(0deg, #003459, #00171f) no-repeat right bottom/0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  transition: all 300ms;
}
.available-pets h2:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.available-pets h2:hover {
  transform: scale(1.1, 1.1);
}
.available-pets h2:hover a {
  color: #ffffff;
}
.available-pets h2:hover .second-text {
  color: #ffffff !important;
}
.available-pets .card {
  transition: all 300ms;
}
.available-pets .card:hover {
  color: #ffffff;
  background-color: #003459;
  transform: scale(1.1, 1.1);
}
.available-pets .card:hover .card-btn {
  display: inline-block !important;
}
.available-pets .card:hover img {
  opacity: 0.6;
}
.available-pets .card:hover .card-body {
  font-size: 1.5em;
  text-align: center;
  position: absolute;
}
.available-pets .card:hover .card-body .card-title {
  font-size: 1.6em;
}

.veterinary-section {
  padding: 0 !important;
  position: relative;
}
.veterinary-section .video-veterinary {
  width: 100%;
  margin: 0;
  z-index: -1;
  opacity: 0.85;
}
.veterinary-section .veterinary-text {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 35%;
  color: #ffffff;
  text-shadow: 0px 0px 5px black;
}
.veterinary-section .veterinary-text .btn {
  padding: 0.5em;
  font-size: 1.5em;
}
.veterinary-section .veterinary-text h2,
.veterinary-section .veterinary-text h3 {
  font-size: 400%;
  display: inline-block;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #003459, #00171f) no-repeat right bottom/0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  transition: all 300ms;
}
.veterinary-section .veterinary-text h2 a,
.veterinary-section .veterinary-text h3 a {
  color: #ffffff;
}
.veterinary-section .veterinary-text h3 {
  font-size: 200% !important;
}
.veterinary-section .veterinary-text h2:where(:hover, :focus-visible),
.veterinary-section .veterinary-text h3:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.veterinary-section .veterinary-text h2:hover,
.veterinary-section .veterinary-text h3:hover {
  transform: scale(1.1, 1.1);
}
.veterinary-section .veterinary-text h2:hover a,
.veterinary-section .veterinary-text h3:hover a {
  color: #ffffff;
}
.veterinary-section .veterinary-text h2:hover .another-color-text,
.veterinary-section .veterinary-text h3:hover .another-color-text {
  color: #ffffff !important;
}
.veterinary-section .veterinary-text h2:hover .second-text,
.veterinary-section .veterinary-text h3:hover .second-text {
  color: #ffffff !important;
}
.veterinary-section .veterinary-text p {
  font-size: 200%;
}
.veterinary-section .veterinary-text .another-color-text {
  text-shadow: none;
}

.adoption-section h2 {
  text-align: center;
}
.adoption-section .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--bs-card-color);
  align-items: center;
}

.seccion-apadrinamiento {
  height: 100vh;
  background: url("../img/background-apadrinamiento.jpg") no-repeat center;
  background-size: cover;
  background-position: center 70%;
  text-align: end;
}
.seccion-apadrinamiento .apadrinamiento-text {
  width: 50%;
  margin-left: 50%;
}
.seccion-apadrinamiento button {
  font-size: 1.5em;
  padding: 1em;
  box-shadow: 0px 0px 5px black;
  transition: all 300ms;
}
.seccion-apadrinamiento button:hover {
  background-color: #ffffff;
  color: #003459;
  transform: scale(1.1, 1.1);
}
.seccion-apadrinamiento h2 {
  display: inline-block;
  font-size: 400%;
  background: linear-gradient(0deg, #003459, #00171f) no-repeat right bottom/0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  transition: all 300ms;
}
.seccion-apadrinamiento h2:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.seccion-apadrinamiento h2:hover a {
  color: #ffffff;
}
.seccion-apadrinamiento h3 {
  font-size: 200%;
  margin-top: 15px;
  color: #00171f;
  font-weight: 900;
}
.seccion-apadrinamiento p {
  margin-top: 1em;
  font-size: 150%;
}

.about-us {
  height: 100vh;
  background: url("../img/legolas4.jpeg") no-repeat center;
  background-size: cover;
  background-position: center 61%;
}
.about-us p {
  font-weight: 700;
}

.about-us-content {
  width: 25em;
}/*# sourceMappingURL=index.css.map */