$primary: #003459;
$secondary: #00171f;
$white: #ffffff;
$light-secondary: #007ea7;
$light-primary: #00a8e8;

.main-presentation {
  background: url("../img/mainPageBg.jpg") no-repeat center;
  background-size: cover;
  background-position: center 70%;
  height: 70vh;
  display: flex;
  flex-direction: row;
}
.main-presentation-content {
  width: 30em;
  color: $secondary;
  h2 {
    color: $secondary;
    font-size: 350%;
    font-weight: 900;
    letter-spacing: 5px;
    padding: 0 0.25rem;
  }

  p {
    font-size: 125%;
    font-weight: 200;
  }
}

.main-image {
  height: 100%;
}

.available-pets {
  h2 {
    font-size: 4em;
    text-align: center;
    background: linear-gradient(0deg, $primary, $secondary) no-repeat right
      bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    transition: all 300ms;
  }
  h2:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  h2:hover {
    a {
      color: $white;
    }
    .second-text {
      color: $white !important;
    }
    transform: scale(1.1, 1.1);
  }

  .card {
    transition: all 300ms;
  }

  .card:hover {
    color: $white;
    background-color: $primary;
    transform: scale(1.1, 1.1);
    .card-btn {
      display: inline-block !important;
    }
    img {
      opacity: 0.6;
    }
  }

  .card:hover .card-body {
    .card-title {
      font-size: 1.6em;
    }
    font-size: 1.5em;
    text-align: center;
    position: absolute;
  }
}

.veterinary-section {
  padding: 0 !important;
  position: relative;
  .video-veterinary {
    width: 100%;
    margin: 0;
    z-index: -1;
    opacity: 0.85;
  }
  .veterinary-text {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 35%;
    color: $white;
    text-shadow: 0px 0px 5px black;

    .btn {
      padding: 0.5em;
      font-size: 1.5em;
    }

    h2,
    h3 {
      font-size: 400%;
      display: inline-block;
      font-weight: 900;
      letter-spacing: 4px;
      text-transform: uppercase;

      background: linear-gradient(0deg, $primary, $secondary) no-repeat right
        bottom / 0 var(--bg-h);
      transition: background-size 350ms;
      --bg-h: 100%;
      transition: all 300ms;
      a {
        color: $white;
      }
    }

    h3 {
      font-size: 200% !important;
    }

    h2:where(:hover, :focus-visible),
    h3:where(:hover, :focus-visible) {
      background-size: 100% var(--bg-h);
      background-position-x: left;
    }
    h2:hover,
    h3:hover {
      a {
        color: $white;
      }
      .another-color-text {
        color: $white !important;
      }
      .second-text {
        color: $white !important;
      }
      transform: scale(1.1, 1.1);
    }
    p {
      font-size: 200%;
    }

    .another-color-text {
      text-shadow: none;
    }
  }
}

.adoption-section {
  h2 {
    text-align: center;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--bs-card-color);
    align-items: center;
  }
}

.seccion-apadrinamiento {
  height: 100vh;
  background: url("../img/background-apadrinamiento.jpg") no-repeat center;
  background-size: cover;
  background-position: center 70%;
  text-align: end;

  .apadrinamiento-text {
    width: 50%;
    margin-left: 50%;
  }

  button {
    font-size: 1.5em;
    padding: 1em;
    box-shadow: 0px 0px 5px black;
    transition: all 300ms;
  }
  button:hover {
    background-color: $white;
    color: $primary;
    transform: scale(1.1, 1.1);
  }

  h2 {
    display: inline-block;
    font-size: 400%;
    background: linear-gradient(0deg, $primary, $secondary) no-repeat right
      bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    transition: all 300ms;
  }
  h2:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  h2:hover {
    a {
      color: $white;
    }
  }
  h3 {
    font-size: 200%;
    margin-top: 15px;
    color: $secondary;
    font-weight: 900;
  }
  p {
    margin-top: 1em;
    font-size: 150%;
  }
}

.about-us {
  height: 100vh;
  background: url("../img/legolas4.jpeg") no-repeat center;
  background-size: cover;
  background-position: center 61%;
  p {
    font-weight: 700;
  }
}

.about-us-content {
  width: 25em;
}
