$primary: #003459;
$secondary: #00171f;
$white: #ffffff;
$light-secondary: #007ea7;
$light-primary: #00a8e8;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: $white;
}

#header {
  font-weight: 500;
  // background-color: $light-secondary;
  .logo {
    padding-left: 3em;
    img {
      height: 7.3em;
      transition: all 300ms;
    }

    img:hover {
      transform: scale(1.3, 1.3);
    }
  }

  // h1 {
  //   padding: 15px 0;
  //   font-weight: 700;
  //   letter-spacing: 4px;
  //   text-shadow: 0px 0px 1px black 0px 1px 1px black 1px 1px 2px black 1px 2px
  //     3px black 2px 3px 4px black;
  //   transition: all 300ms;
  //   color: $secondary;
  // }
  a {
    text-decoration: none;
  }

  // h1:hover {
  //   transform: scale(1.1, 1.1);
  // }
}

.main-presentation {
  background: url("../img/backgroundsasuky.webp") no-repeat center;
  background-size: cover;
  background-position: center 70%;
  height: 70vh;
  display: flex;
  flex-direction: row;
}
.main-presentation-content {
  width: 30em;
  color: #00171f;
  h2 {
    font-size: 350%;
    font-weight: 1000;
    letter-spacing: 3px;
  }
  p {
    font-size: 125%;
    font-weight: 200;
  }
}

.main-image {
  // img {
  height: 100%;
  // }
}

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: "";
  background: transparent url(../images/pattern.png) repeat top left;
}

.carousel-item img {
  margin-top: 3em;
  height: 500px;
}

.about-us {
  height: 100vh;
  background: url("../img/legolas4.jpeg") no-repeat center;
  background-size: cover;
  background-position: center 61%;
  p {
    font-weight: 700;
  }
}

.about-us-content {
  width: 25em;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-content: flex-start;
  background-color: $primary;
  h4 {
    color: $white;
    font-weight: 1.5em;
  }

  li {
    transition: all 300ms;
  }

  li:hover {
    transform: scale(1.1, 1.1);
    background-color: $white;
    h4 {
      color: $light-secondary;
    }
  }
}

.social-media {
  ul {
    list-style: none;
  }

  li {
    transition: all 300ms;
  }

  li:hover {
    // background-color: $light-secondary;
    svg {
      fill: $primary;
    }
    transform: scale(1.2, 1.2);
  }
}
